In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('D:\downloads1\cricket data\cclayford-cricinfo-statsguru-data\data\men_odi_player_innings_stats_21st_century.csv')
df.head()

,innings_player,innings_runs_scored,innings_runs_scored_num,innings_minutes_batted,innings_batted_flag,innings_not_out_flag,innings_balls_faced,innings_boundary_fours,innings_boundary_sixes,innings_batting_strike_rate,...,innings_overs_bowled,innings_bowled_flag,innings_maidens_bowled,innings_runs_conceded,innings_wickets_taken,4_wickets,5_wickets,10_wickets,innings_wickets_taken_buckets,innings_economy_rate
0,JJ Roy,180,180.0,151.0,1.0,0.0,151.0,16.0,5.0,119.20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AD Hales,171,171.0,166.0,1.0,0.0,122.0,22.0,4.0,140.16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,JJ Roy,162,162.0,172.0,1.0,0.0,118.0,13.0,3.0,137.28,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AJ Strauss,158,158.0,188.0,1.0,0.0,145.0,18.0,1.0,108.96,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AJ Strauss,154,154.0,201.0,1.0,0.0,140.0,16.0,5.0,110.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df2 = pd.read_csv('D:\downloads1\cricket data\cclayford-cricinfo-statsguru-data\data\men_odi_player_innings_stats_20th_century.csv')
df2.head()

,innings_player,innings_runs_scored,innings_runs_scored_num,innings_minutes_batted,innings_batted_flag,innings_not_out_flag,innings_balls_faced,innings_boundary_fours,innings_boundary_sixes,innings_batting_strike_rate,...,innings_overs_bowled,innings_bowled_flag,innings_maidens_bowled,innings_runs_conceded,innings_wickets_taken,4_wickets,5_wickets,10_wickets,innings_wickets_taken_buckets,innings_economy_rate
0,RA Smith,167*,167.0,208.0,1.0,1.0,163.0,17.0,3.0,102.45,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,DI Gower,158,158.0,177.0,1.0,0.0,118.0,18.0,4.0,133.89,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,CWJ Athey,142*,142.0,208.0,1.0,1.0,172.0,14.0,0.0,82.55,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,GA Gooch,142,142.0,NaN,1.0,0.0,134.0,14.0,0.0,105.97,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,DL Amiss,137,137.0,NaN,1.0,0.0,147.0,18.0,0.0,93.19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
k = pd.concat([df,df2],axis = 0 )
k

,innings_player,innings_runs_scored,innings_runs_scored_num,innings_minutes_batted,innings_batted_flag,innings_not_out_flag,innings_balls_faced,innings_boundary_fours,innings_boundary_sixes,innings_batting_strike_rate,...,innings_overs_bowled,innings_bowled_flag,innings_maidens_bowled,innings_runs_conceded,innings_wickets_taken,4_wickets,5_wickets,10_wickets,innings_wickets_taken_buckets,innings_economy_rate
0,JJ Roy,180,180.0,151.0,1.0,0.0,151.0,16.0,5.0,119.20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AD Hales,171,171.0,166.0,1.0,0.0,122.0,22.0,4.0,140.16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,JJ Roy,162,162.0,172.0,1.0,0.0,118.0,13.0,3.0,137.28,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AJ Strauss,158,158.0,188.0,1.0,0.0,145.0,18.0,1.0,108.96,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AJ Strauss,154,154.0,201.0,1.0,0.0,140.0,16.0,5.0,110.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72837,AG Davies,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,DNB,0.0,NaN,NaN,NaN,1.0,0.0,0.0,-,NaN
72838,G Salmond,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,DNB,0.0,NaN,NaN,NaN,1.0,0.0,0.0,-,NaN
72839,MJ Smith,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,DNB,0.0,NaN,NaN,NaN,1.0,0.0,0.0,-,NaN
72840,JG Williamson,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,DNB,0.0,NaN,NaN,NaN,1.0,0.0,0.0,-,NaN
72841,NR Dyer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,DNB,0.0,NaN,NaN,NaN,1.0,0.0,0.0,-,NaN

In [5]:
k = k.groupby(['innings_player']).sum()
k

,innings_runs_scored_num,innings_minutes_batted,innings_batted_flag,innings_not_out_flag,innings_balls_faced,innings_boundary_fours,innings_boundary_sixes,innings_batting_strike_rate,innings_number,50s,100s,innings_bowled_flag,innings_maidens_bowled,innings_runs_conceded,innings_wickets_taken,4_wickets,5_wickets,10_wickets,innings_economy_rate
innings_player,,,,,,,,,,,,,,,,,,,
A Balbirnie,5730.0,5025.0,192.0,12.0,7590.0,537.0,81.0,12588.54,574.0,27.0,15.0,9.0,0.0,204.0,6.0,201.0,0.0,0.0,71.85
A Bhandari,0.0,2.0,1.0,1.0,0.0,0.0,0.0,0.00,12.0,0.0,0.0,4.0,0.0,168.0,11.0,4.0,0.0,0.0,19.62
A Dananjaya,849.0,273.0,81.0,15.0,1233.0,72.0,9.0,5617.20,312.0,3.0,0.0,102.0,15.0,4518.0,153.0,101.0,6.0,0.0,528.66
A Flintoff,9267.0,13357.0,327.0,46.0,10364.0,855.0,254.0,26478.08,1104.0,50.0,9.0,330.0,198.0,11408.0,490.0,368.0,6.0,0.0,1430.92
A Flower,10884.0,19245.0,314.0,26.0,14101.0,880.0,48.0,22428.57,964.0,87.0,8.0,2.0,0.0,23.0,0.0,326.0,0.0,0.0,12.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zakiullah Zaki,9.0,0.0,3.0,3.0,66.0,0.0,0.0,40.89,9.0,0.0,0.0,3.0,0.0,81.0,0.0,3.0,0.0,0.0,20.25
Ziaur Rahman,372.0,477.0,33.0,0.0,330.0,39.0,18.0,2711.19,111.0,0.0,0.0,33.0,3.0,903.0,30.0,36.0,3.0,0.0,157.65
Zulfiqar Babar,105.0,201.0,15.0,9.0,120.0,6.0,3.0,1147.68,45.0,0.0,0.0,15.0,3.0,738.0,12.0,15.0,0.0,0.0,74.94
Zulqarnain,18.0,0.0,6.0,3.0,30.0,0.0,1.0,246.36,44.0,0.0,0.0,0.0,0.0,0.0,0.0,16.0,0.0,0.0,0.00
Zulqarnain Haider,144.0,210.0,12.0,6.0,204.0,9.0,0.0,974.85,36.0,0.0,0.0,0.0,0.0,0.0,0.0,12.0,0.0,0.0,0.00

In [6]:
k.columns

Index(['innings_runs_scored_num', 'innings_minutes_batted',
       'innings_batted_flag', 'innings_not_out_flag', 'innings_balls_faced',
       'innings_boundary_fours', 'innings_boundary_sixes',
       'innings_batting_strike_rate', 'innings_number', '50s', '100s',
       'innings_bowled_flag', 'innings_maidens_bowled',
       'innings_runs_conceded', 'innings_wickets_taken', '4_wickets',
       '5_wickets', '10_wickets', 'innings_economy_rate'],
      dtype='object')

In [7]:
k_bat = k.iloc[:,:11]
k_bat

,innings_runs_scored_num,innings_minutes_batted,innings_batted_flag,innings_not_out_flag,innings_balls_faced,innings_boundary_fours,innings_boundary_sixes,innings_batting_strike_rate,innings_number,50s,100s
innings_player,,,,,,,,,,,
A Balbirnie,5730.0,5025.0,192.0,12.0,7590.0,537.0,81.0,12588.54,574.0,27.0,15.0
A Bhandari,0.0,2.0,1.0,1.0,0.0,0.0,0.0,0.00,12.0,0.0,0.0
A Dananjaya,849.0,273.0,81.0,15.0,1233.0,72.0,9.0,5617.20,312.0,3.0,0.0
A Flintoff,9267.0,13357.0,327.0,46.0,10364.0,855.0,254.0,26478.08,1104.0,50.0,9.0
A Flower,10884.0,19245.0,314.0,26.0,14101.0,880.0,48.0,22428.57,964.0,87.0,8.0
...,...,...,...,...,...,...,...,...,...,...,...
Zakiullah Zaki,9.0,0.0,3.0,3.0,66.0,0.0,0.0,40.89,9.0,0.0,0.0
Ziaur Rahman,372.0,477.0,33.0,0.0,330.0,39.0,18.0,2711.19,111.0,0.0,0.0
Zulfiqar Babar,105.0,201.0,15.0,9.0,120.0,6.0,3.0,1147.68,45.0,0.0,0.0
Zulqarnain,18.0,0.0,6.0,3.0,30.0,0.0,1.0,246.36,44.0,0.0,0.0
Zulqarnain Haider,144.0,210.0,12.0,6.0,204.0,9.0,0.0,974.85,36.0,0.0,0.0

In [8]:
k_bowl = k.iloc[:,11:20]
k_bowl

,innings_bowled_flag,innings_maidens_bowled,innings_runs_conceded,innings_wickets_taken,4_wickets,5_wickets,10_wickets,innings_economy_rate
innings_player,,,,,,,,
A Balbirnie,9.0,0.0,204.0,6.0,201.0,0.0,0.0,71.85
A Bhandari,4.0,0.0,168.0,11.0,4.0,0.0,0.0,19.62
A Dananjaya,102.0,15.0,4518.0,153.0,101.0,6.0,0.0,528.66
A Flintoff,330.0,198.0,11408.0,490.0,368.0,6.0,0.0,1430.92
A Flower,2.0,0.0,23.0,0.0,326.0,0.0,0.0,12.50
...,...,...,...,...,...,...,...,...
Zakiullah Zaki,3.0,0.0,81.0,0.0,3.0,0.0,0.0,20.25
Ziaur Rahman,33.0,3.0,903.0,30.0,36.0,3.0,0.0,157.65
Zulfiqar Babar,15.0,3.0,738.0,12.0,15.0,0.0,0.0,74.94
Zulqarnain,0.0,0.0,0.0,0.0,16.0,0.0,0.0,0.00
Zulqarnain Haider,0.0,0.0,0.0,0.0,12.0,0.0,0.0,0.00

In [9]:
k_bat.columns

Index(['innings_runs_scored_num', 'innings_minutes_batted',
       'innings_batted_flag', 'innings_not_out_flag', 'innings_balls_faced',
       'innings_boundary_fours', 'innings_boundary_sixes',
       'innings_batting_strike_rate', 'innings_number', '50s', '100s'],
      dtype='object')

In [10]:
k_bat.drop(['innings_minutes_batted','innings_boundary_fours', 'innings_boundary_sixes','innings_number'],axis = 1, inplace = True)
k_bat

D:\anaconda\lib\site-packages\pandas\core\frame.py:4102: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,innings_runs_scored_num,innings_batted_flag,innings_not_out_flag,innings_balls_faced,innings_batting_strike_rate,50s,100s
innings_player,,,,,,,
A Balbirnie,5730.0,192.0,12.0,7590.0,12588.54,27.0,15.0
A Bhandari,0.0,1.0,1.0,0.0,0.00,0.0,0.0
A Dananjaya,849.0,81.0,15.0,1233.0,5617.20,3.0,0.0
A Flintoff,9267.0,327.0,46.0,10364.0,26478.08,50.0,9.0
A Flower,10884.0,314.0,26.0,14101.0,22428.57,87.0,8.0
...,...,...,...,...,...,...,...
Zakiullah Zaki,9.0,3.0,3.0,66.0,40.89,0.0,0.0
Ziaur Rahman,372.0,33.0,0.0,330.0,2711.19,0.0,0.0
Zulfiqar Babar,105.0,15.0,9.0,120.0,1147.68,0.0,0.0
Zulqarnain,18.0,6.0,3.0,30.0,246.36,0.0,0.0
Zulqarnain Haider,144.0,12.0,6.0,204.0,974.85,0.0,0.0

In [11]:
k_bat['average'] = k_bat['innings_runs_scored_num']/((k_bat['innings_batted_flag'] - k_bat['innings_not_out_flag'])+1)

D:\anaconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [12]:
k_bat['strike_rate'] = k_bat['innings_batting_strike_rate']/(k_bat['innings_batted_flag']+1)

D:\anaconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [13]:
k_bat.head()

,innings_runs_scored_num,innings_batted_flag,innings_not_out_flag,innings_balls_faced,innings_batting_strike_rate,50s,100s,average,strike_rate
innings_player,,,,,,,,,
A Balbirnie,5730.0,192.0,12.0,7590.0,12588.54,27.0,15.0,31.657459,65.225596
A Bhandari,0.0,1.0,1.0,0.0,0.00,0.0,0.0,0.000000,0.000000
A Dananjaya,849.0,81.0,15.0,1233.0,5617.20,3.0,0.0,12.671642,68.502439
A Flintoff,9267.0,327.0,46.0,10364.0,26478.08,50.0,9.0,32.861702,80.725854
A Flower,10884.0,314.0,26.0,14101.0,22428.57,87.0,8.0,37.660900,71.201810

In [14]:
k_bat.drop(['innings_batting_strike_rate','innings_not_out_flag','innings_balls_faced'],axis=1,inplace = True)
k_bat.head()

,innings_runs_scored_num,innings_batted_flag,50s,100s,average,strike_rate
innings_player,,,,,,
A Balbirnie,5730.0,192.0,27.0,15.0,31.657459,65.225596
A Bhandari,0.0,1.0,0.0,0.0,0.000000,0.000000
A Dananjaya,849.0,81.0,3.0,0.0,12.671642,68.502439
A Flintoff,9267.0,327.0,50.0,9.0,32.861702,80.725854
A Flower,10884.0,314.0,87.0,8.0,37.660900,71.201810

In [15]:
k_bat.head()

,innings_runs_scored_num,innings_batted_flag,50s,100s,average,strike_rate
innings_player,,,,,,
A Balbirnie,5730.0,192.0,27.0,15.0,31.657459,65.225596
A Bhandari,0.0,1.0,0.0,0.0,0.000000,0.000000
A Dananjaya,849.0,81.0,3.0,0.0,12.671642,68.502439
A Flintoff,9267.0,327.0,50.0,9.0,32.861702,80.725854
A Flower,10884.0,314.0,87.0,8.0,37.660900,71.201810

In [16]:
k_bat_y = k_bat.iloc[:,[0]]
k_bat_y

                   innings_runs_scored_num
innings_player
A Balbirnie                         5730.0
A Bhandari                             0.0
A Dananjaya                          849.0
A Flintoff                          9267.0
A Flower                           10884.0
...                                    ...
Zakiullah Zaki                         9.0
Ziaur Rahman                         372.0
Zulfiqar Babar                       105.0
Zulqarnain                            18.0
Zulqarnain Haider                    144.0

[2291 rows x 1 columns]

In [17]:
k_bat_x = k_bat.iloc[:,1:]

In [18]:
k_bat_x

                   innings_batted_flag   50s  100s    average  strike_rate
innings_player
A Balbirnie                      192.0  27.0  15.0  31.657459    65.225596
A Bhandari                         1.0   0.0   0.0   0.000000     0.000000
A Dananjaya                       81.0   3.0   0.0  12.671642    68.502439
A Flintoff                       327.0  50.0   9.0  32.861702    80.725854
A Flower                         314.0  87.0   8.0  37.660900    71.201810
...                                ...   ...   ...        ...          ...
Zakiullah Zaki                     3.0   0.0   0.0   9.000000    10.222500
Ziaur Rahman                      33.0   0.0   0.0  10.941176    79.740882
Zulfiqar Babar                    15.0   0.0   0.0  15.000000    71.730000
Zulqarnain                         6.0   0.0   0.0   4.500000    35.194286
Zulqarnain Haider                 12.0   0.0   0.0  20.571429    74.988462

[2291 rows x 5 columns]

In [19]:
k_bat_x.isna().sum()

innings_batted_flag    0
50s                    0
100s                   0
average                0
strike_rate            0
dtype: int64

In [20]:
def incon(k_bat_x):
    if (1<=k_bat_x['innings_batted_flag']<=49):
        return 1
    elif(50<=k_bat_x['innings_batted_flag']<=99):
        return 2
    elif(100<= k_bat_x['innings_batted_flag']<=124):
        return 3
    elif(125<= k_bat_x['innings_batted_flag']<= 149):
        return 4
    elif(k_bat_x['innings_batted_flag']>=150):
        return 5

    
    
k_bat_x['innings_consistency'] = k_bat_x.apply(incon, axis =1)
k_bat_x

,innings_batted_flag,50s,100s,average,strike_rate,innings_consistency
innings_player,,,,,,
A Balbirnie,192.0,27.0,15.0,31.657459,65.225596,5.0
A Bhandari,1.0,0.0,0.0,0.000000,0.000000,1.0
A Dananjaya,81.0,3.0,0.0,12.671642,68.502439,2.0
A Flintoff,327.0,50.0,9.0,32.861702,80.725854,5.0
A Flower,314.0,87.0,8.0,37.660900,71.201810,5.0
...,...,...,...,...,...,...
Zakiullah Zaki,3.0,0.0,0.0,9.000000,10.222500,1.0
Ziaur Rahman,33.0,0.0,0.0,10.941176,79.740882,1.0
Zulfiqar Babar,15.0,0.0,0.0,15.000000,71.730000,1.0
Zulqarnain,6.0,0.0,0.0,4.500000,35.194286,1.0
Zulqarnain Haider,12.0,0.0,0.0,20.571429,74.988462,1.0

In [21]:
def inform(k_bat_x):
    if (1<=k_bat_x['innings_batted_flag']<=4):
        return 1
    elif(5<=k_bat_x['innings_batted_flag']<=9):
        return 2
    elif(10<= k_bat_x['innings_batted_flag']<=11):
        return 3
    elif(12<= k_bat_x['innings_batted_flag']<= 14):
        return 4
    elif(k_bat_x['innings_batted_flag']>=15):
        return 5

    
    
k_bat_x['innings_form'] = k_bat_x.apply(inform, axis =1)
k_bat_x

,innings_batted_flag,50s,100s,average,strike_rate,innings_consistency,innings_form
innings_player,,,,,,,
A Balbirnie,192.0,27.0,15.0,31.657459,65.225596,5.0,5.0
A Bhandari,1.0,0.0,0.0,0.000000,0.000000,1.0,1.0
A Dananjaya,81.0,3.0,0.0,12.671642,68.502439,2.0,5.0
A Flintoff,327.0,50.0,9.0,32.861702,80.725854,5.0,5.0
A Flower,314.0,87.0,8.0,37.660900,71.201810,5.0,5.0
...,...,...,...,...,...,...,...
Zakiullah Zaki,3.0,0.0,0.0,9.000000,10.222500,1.0,1.0
Ziaur Rahman,33.0,0.0,0.0,10.941176,79.740882,1.0,5.0
Zulfiqar Babar,15.0,0.0,0.0,15.000000,71.730000,1.0,5.0
Zulqarnain,6.0,0.0,0.0,4.500000,35.194286,1.0,2.0
Zulqarnain Haider,12.0,0.0,0.0,20.571429,74.988462,1.0,4.0

In [22]:
def inoppo(k_bat_x):
    if (1<=k_bat_x['innings_batted_flag']<=2):
        return 1
    elif(3<=k_bat_x['innings_batted_flag']<=4):
        return 2
    elif(5<= k_bat_x['innings_batted_flag']<=6):
        return 3
    elif(7<= k_bat_x['innings_batted_flag']<= 9):
        return 4
    elif(k_bat_x['innings_batted_flag']>=10):
        return 5

    
    
k_bat_x['innings_opposition'] = k_bat_x.apply(inoppo, axis =1)
k_bat_x

,innings_batted_flag,50s,100s,average,strike_rate,innings_consistency,innings_form,innings_opposition
innings_player,,,,,,,,
A Balbirnie,192.0,27.0,15.0,31.657459,65.225596,5.0,5.0,5.0
A Bhandari,1.0,0.0,0.0,0.000000,0.000000,1.0,1.0,1.0
A Dananjaya,81.0,3.0,0.0,12.671642,68.502439,2.0,5.0,5.0
A Flintoff,327.0,50.0,9.0,32.861702,80.725854,5.0,5.0,5.0
A Flower,314.0,87.0,8.0,37.660900,71.201810,5.0,5.0,5.0
...,...,...,...,...,...,...,...,...
Zakiullah Zaki,3.0,0.0,0.0,9.000000,10.222500,1.0,1.0,2.0
Ziaur Rahman,33.0,0.0,0.0,10.941176,79.740882,1.0,5.0,5.0
Zulfiqar Babar,15.0,0.0,0.0,15.000000,71.730000,1.0,5.0,5.0
Zulqarnain,6.0,0.0,0.0,4.500000,35.194286,1.0,2.0,3.0
Zulqarnain Haider,12.0,0.0,0.0,20.571429,74.988462,1.0,4.0,5.0

In [23]:
def inven(k_bat_x):
    if (k_bat_x['innings_batted_flag']==1):
        return 1
    elif(k_bat_x['innings_batted_flag']==2):
        return 2
    elif( k_bat_x['innings_batted_flag']==3):
        return 3
    elif(k_bat_x['innings_batted_flag']==4):
        return 4
    elif(k_bat_x['innings_batted_flag']>=5):
        return 5

    
    
k_bat_x['innings_venue'] = k_bat_x.apply(inven, axis =1)
k_bat_x

,innings_batted_flag,50s,100s,average,strike_rate,innings_consistency,innings_form,innings_opposition,innings_venue
innings_player,,,,,,,,,
A Balbirnie,192.0,27.0,15.0,31.657459,65.225596,5.0,5.0,5.0,5.0
A Bhandari,1.0,0.0,0.0,0.000000,0.000000,1.0,1.0,1.0,1.0
A Dananjaya,81.0,3.0,0.0,12.671642,68.502439,2.0,5.0,5.0,5.0
A Flintoff,327.0,50.0,9.0,32.861702,80.725854,5.0,5.0,5.0,5.0
A Flower,314.0,87.0,8.0,37.660900,71.201810,5.0,5.0,5.0,5.0
...,...,...,...,...,...,...,...,...,...
Zakiullah Zaki,3.0,0.0,0.0,9.000000,10.222500,1.0,1.0,2.0,3.0
Ziaur Rahman,33.0,0.0,0.0,10.941176,79.740882,1.0,5.0,5.0,5.0
Zulfiqar Babar,15.0,0.0,0.0,15.000000,71.730000,1.0,5.0,5.0,5.0
Zulqarnain,6.0,0.0,0.0,4.500000,35.194286,1.0,2.0,3.0,5.0
Zulqarnain Haider,12.0,0.0,0.0,20.571429,74.988462,1.0,4.0,5.0,5.0

In [24]:
def ave(k_bat_x):
    if (0<=k_bat_x['average']<=9.99):
        return 1
    elif(10<=k_bat_x['average']<=19.99):
        return 2
    elif(20<= k_bat_x['average']<=29.99):
        return 3
    elif(30<= k_bat_x['average']<= 39.99):
        return 4
    elif(k_bat_x['average']>=40):
        return 5

    
    
k_bat_x['average'] = k_bat_x.apply(ave, axis =1)
k_bat_x

,innings_batted_flag,50s,100s,average,strike_rate,innings_consistency,innings_form,innings_opposition,innings_venue
innings_player,,,,,,,,,
A Balbirnie,192.0,27.0,15.0,4,65.225596,5.0,5.0,5.0,5.0
A Bhandari,1.0,0.0,0.0,1,0.000000,1.0,1.0,1.0,1.0
A Dananjaya,81.0,3.0,0.0,2,68.502439,2.0,5.0,5.0,5.0
A Flintoff,327.0,50.0,9.0,4,80.725854,5.0,5.0,5.0,5.0
A Flower,314.0,87.0,8.0,4,71.201810,5.0,5.0,5.0,5.0
...,...,...,...,...,...,...,...,...,...
Zakiullah Zaki,3.0,0.0,0.0,1,10.222500,1.0,1.0,2.0,3.0
Ziaur Rahman,33.0,0.0,0.0,2,79.740882,1.0,5.0,5.0,5.0
Zulfiqar Babar,15.0,0.0,0.0,2,71.730000,1.0,5.0,5.0,5.0
Zulqarnain,6.0,0.0,0.0,1,35.194286,1.0,2.0,3.0,5.0
Zulqarnain Haider,12.0,0.0,0.0,3,74.988462,1.0,4.0,5.0,5.0

In [25]:
def bsr(k_bat_x):
    if (0<=k_bat_x['strike_rate']<=49.99):
        return 1
    elif(50<=k_bat_x['strike_rate']<=59.99):
        return 2
    elif(60<= k_bat_x['strike_rate']<=79.99):
        return 3
    elif(80<= k_bat_x['strike_rate']<=100):
        return 4
    elif(k_bat_x['strike_rate']>=100):
        return 5

    
    
k_bat_x['strike_rate'] = k_bat_x.apply(bsr, axis =1)
k_bat_x

,innings_batted_flag,50s,100s,average,strike_rate,innings_consistency,innings_form,innings_opposition,innings_venue
innings_player,,,,,,,,,
A Balbirnie,192.0,27.0,15.0,4,3.0,5.0,5.0,5.0,5.0
A Bhandari,1.0,0.0,0.0,1,1.0,1.0,1.0,1.0,1.0
A Dananjaya,81.0,3.0,0.0,2,3.0,2.0,5.0,5.0,5.0
A Flintoff,327.0,50.0,9.0,4,4.0,5.0,5.0,5.0,5.0
A Flower,314.0,87.0,8.0,4,3.0,5.0,5.0,5.0,5.0
...,...,...,...,...,...,...,...,...,...
Zakiullah Zaki,3.0,0.0,0.0,1,1.0,1.0,1.0,2.0,3.0
Ziaur Rahman,33.0,0.0,0.0,2,3.0,1.0,5.0,5.0,5.0
Zulfiqar Babar,15.0,0.0,0.0,2,3.0,1.0,5.0,5.0,5.0
Zulqarnain,6.0,0.0,0.0,1,1.0,1.0,2.0,3.0,5.0
Zulqarnain Haider,12.0,0.0,0.0,3,3.0,1.0,4.0,5.0,5.0

In [26]:
def cencon(k_bat_x):
    if (1<=k_bat_x['100s']<=4):
        return 1
    elif(k_bat_x['100s']==0):
        return 0
    elif(5<=k_bat_x['100s']<=9):
        return 2
    elif(10<= k_bat_x['100s']<=14):
        return 3
    elif(15<= k_bat_x['100s']<=19):
        return 4
    elif(k_bat_x['100s']>=20):
        return 5

    
    
k_bat_x['century_consistency'] = k_bat_x.apply(cencon, axis =1)
k_bat_x

,innings_batted_flag,50s,100s,average,strike_rate,innings_consistency,innings_form,innings_opposition,innings_venue,century_consistency
innings_player,,,,,,,,,,
A Balbirnie,192.0,27.0,15.0,4,3.0,5.0,5.0,5.0,5.0,4
A Bhandari,1.0,0.0,0.0,1,1.0,1.0,1.0,1.0,1.0,0
A Dananjaya,81.0,3.0,0.0,2,3.0,2.0,5.0,5.0,5.0,0
A Flintoff,327.0,50.0,9.0,4,4.0,5.0,5.0,5.0,5.0,2
A Flower,314.0,87.0,8.0,4,3.0,5.0,5.0,5.0,5.0,2
...,...,...,...,...,...,...,...,...,...,...
Zakiullah Zaki,3.0,0.0,0.0,1,1.0,1.0,1.0,2.0,3.0,0
Ziaur Rahman,33.0,0.0,0.0,2,3.0,1.0,5.0,5.0,5.0,0
Zulfiqar Babar,15.0,0.0,0.0,2,3.0,1.0,5.0,5.0,5.0,0
Zulqarnain,6.0,0.0,0.0,1,1.0,1.0,2.0,3.0,5.0,0
Zulqarnain Haider,12.0,0.0,0.0,3,3.0,1.0,4.0,5.0,5.0,0

In [27]:
def cenform(k_bat_x):
    if (k_bat_x['100s']==1):
        return 1
    elif(k_bat_x['100s']==0):
        return 0
    elif(k_bat_x['100s']==2):
        return 2
    elif(k_bat_x['100s']==3):
        return 3
    elif(k_bat_x['100s']==4):
        return 4
    elif(k_bat_x['100s']>=5):
        return 5

    
    
k_bat_x['century_form'] = k_bat_x.apply(cenform, axis =1)
k_bat_x

,innings_batted_flag,50s,100s,average,strike_rate,innings_consistency,innings_form,innings_opposition,innings_venue,century_consistency,century_form
innings_player,,,,,,,,,,,
A Balbirnie,192.0,27.0,15.0,4,3.0,5.0,5.0,5.0,5.0,4,5
A Bhandari,1.0,0.0,0.0,1,1.0,1.0,1.0,1.0,1.0,0,0
A Dananjaya,81.0,3.0,0.0,2,3.0,2.0,5.0,5.0,5.0,0,0
A Flintoff,327.0,50.0,9.0,4,4.0,5.0,5.0,5.0,5.0,2,5
A Flower,314.0,87.0,8.0,4,3.0,5.0,5.0,5.0,5.0,2,5
...,...,...,...,...,...,...,...,...,...,...,...
Zakiullah Zaki,3.0,0.0,0.0,1,1.0,1.0,1.0,2.0,3.0,0,0
Ziaur Rahman,33.0,0.0,0.0,2,3.0,1.0,5.0,5.0,5.0,0,0
Zulfiqar Babar,15.0,0.0,0.0,2,3.0,1.0,5.0,5.0,5.0,0,0
Zulqarnain,6.0,0.0,0.0,1,1.0,1.0,2.0,3.0,5.0,0,0
Zulqarnain Haider,12.0,0.0,0.0,3,3.0,1.0,4.0,5.0,5.0,0,0

In [28]:
def cenoppo(k_bat_x):
    if (k_bat_x['100s']==1):
        return 3
    elif(k_bat_x['100s']==0):
        return 0
    elif(k_bat_x['100s']==2):
        return 4
    
    elif(k_bat_x['100s']>=3):
        return 5

    
    
k_bat_x['century_opposition'] = k_bat_x.apply(cenoppo, axis =1)
k_bat_x

,innings_batted_flag,50s,100s,average,strike_rate,innings_consistency,innings_form,innings_opposition,innings_venue,century_consistency,century_form,century_opposition
innings_player,,,,,,,,,,,,
A Balbirnie,192.0,27.0,15.0,4,3.0,5.0,5.0,5.0,5.0,4,5,5
A Bhandari,1.0,0.0,0.0,1,1.0,1.0,1.0,1.0,1.0,0,0,0
A Dananjaya,81.0,3.0,0.0,2,3.0,2.0,5.0,5.0,5.0,0,0,0
A Flintoff,327.0,50.0,9.0,4,4.0,5.0,5.0,5.0,5.0,2,5,5
A Flower,314.0,87.0,8.0,4,3.0,5.0,5.0,5.0,5.0,2,5,5
...,...,...,...,...,...,...,...,...,...,...,...,...
Zakiullah Zaki,3.0,0.0,0.0,1,1.0,1.0,1.0,2.0,3.0,0,0,0
Ziaur Rahman,33.0,0.0,0.0,2,3.0,1.0,5.0,5.0,5.0,0,0,0
Zulfiqar Babar,15.0,0.0,0.0,2,3.0,1.0,5.0,5.0,5.0,0,0,0
Zulqarnain,6.0,0.0,0.0,1,1.0,1.0,2.0,3.0,5.0,0,0,0
Zulqarnain Haider,12.0,0.0,0.0,3,3.0,1.0,4.0,5.0,5.0,0,0,0

In [29]:
def cenven(k_bat_x):
    if (k_bat_x['100s']==1):
        return 4
    elif(k_bat_x['100s']==0):
        return 0
    
    elif(k_bat_x['100s']>=2):
        return 5

    
    
k_bat_x['century_venue'] = k_bat_x.apply(cenven, axis =1)
k_bat_x

,innings_batted_flag,50s,100s,average,strike_rate,innings_consistency,innings_form,innings_opposition,innings_venue,century_consistency,century_form,century_opposition,century_venue
innings_player,,,,,,,,,,,,,
A Balbirnie,192.0,27.0,15.0,4,3.0,5.0,5.0,5.0,5.0,4,5,5,5
A Bhandari,1.0,0.0,0.0,1,1.0,1.0,1.0,1.0,1.0,0,0,0,0
A Dananjaya,81.0,3.0,0.0,2,3.0,2.0,5.0,5.0,5.0,0,0,0,0
A Flintoff,327.0,50.0,9.0,4,4.0,5.0,5.0,5.0,5.0,2,5,5,5
A Flower,314.0,87.0,8.0,4,3.0,5.0,5.0,5.0,5.0,2,5,5,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zakiullah Zaki,3.0,0.0,0.0,1,1.0,1.0,1.0,2.0,3.0,0,0,0,0
Ziaur Rahman,33.0,0.0,0.0,2,3.0,1.0,5.0,5.0,5.0,0,0,0,0
Zulfiqar Babar,15.0,0.0,0.0,2,3.0,1.0,5.0,5.0,5.0,0,0,0,0
Zulqarnain,6.0,0.0,0.0,1,1.0,1.0,2.0,3.0,5.0,0,0,0,0
Zulqarnain Haider,12.0,0.0,0.0,3,3.0,1.0,4.0,5.0,5.0,0,0,0,0

In [30]:
def fifcon(k_bat_x):
    if (1<=k_bat_x['50s']<=9):
        return 1
    elif(k_bat_x['50s']==0):
        return 0
    elif(10<=k_bat_x['50s']<=19):
        return 2
    elif(20<= k_bat_x['50s']<=29):
        return 3
    elif(30<= k_bat_x['50s']<=39):
        return 4
    elif(k_bat_x['50s']>=40):
        return 5

    
    
k_bat_x['fifty_consistency'] = k_bat_x.apply(fifcon, axis =1)
k_bat_x

,innings_batted_flag,50s,100s,average,strike_rate,innings_consistency,innings_form,innings_opposition,innings_venue,century_consistency,century_form,century_opposition,century_venue,fifty_consistency
innings_player,,,,,,,,,,,,,,
A Balbirnie,192.0,27.0,15.0,4,3.0,5.0,5.0,5.0,5.0,4,5,5,5,3
A Bhandari,1.0,0.0,0.0,1,1.0,1.0,1.0,1.0,1.0,0,0,0,0,0
A Dananjaya,81.0,3.0,0.0,2,3.0,2.0,5.0,5.0,5.0,0,0,0,0,1
A Flintoff,327.0,50.0,9.0,4,4.0,5.0,5.0,5.0,5.0,2,5,5,5,5
A Flower,314.0,87.0,8.0,4,3.0,5.0,5.0,5.0,5.0,2,5,5,5,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zakiullah Zaki,3.0,0.0,0.0,1,1.0,1.0,1.0,2.0,3.0,0,0,0,0,0
Ziaur Rahman,33.0,0.0,0.0,2,3.0,1.0,5.0,5.0,5.0,0,0,0,0,0
Zulfiqar Babar,15.0,0.0,0.0,2,3.0,1.0,5.0,5.0,5.0,0,0,0,0,0
Zulqarnain,6.0,0.0,0.0,1,1.0,1.0,2.0,3.0,5.0,0,0,0,0,0
Zulqarnain Haider,12.0,0.0,0.0,3,3.0,1.0,4.0,5.0,5.0,0,0,0,0,0

In [31]:
def fifform(k_bat_x):
    if (1<=k_bat_x['50s']<=2):
        return 1
    elif(k_bat_x['50s']==0):
        return 0
    elif(3<=k_bat_x['50s']<=4):
        return 2
    elif(5<= k_bat_x['50s']<=6):
        return 3
    elif(7<= k_bat_x['50s']<=9):
        return 4
    elif(k_bat_x['50s']>=10):
        return 5
    
    
k_bat_x['fifty_form_oppo'] = k_bat_x.apply(fifform, axis =1)
k_bat_x

,innings_batted_flag,50s,100s,average,strike_rate,innings_consistency,innings_form,innings_opposition,innings_venue,century_consistency,century_form,century_opposition,century_venue,fifty_consistency,fifty_form_oppo
innings_player,,,,,,,,,,,,,,,
A Balbirnie,192.0,27.0,15.0,4,3.0,5.0,5.0,5.0,5.0,4,5,5,5,3,5
A Bhandari,1.0,0.0,0.0,1,1.0,1.0,1.0,1.0,1.0,0,0,0,0,0,0
A Dananjaya,81.0,3.0,0.0,2,3.0,2.0,5.0,5.0,5.0,0,0,0,0,1,2
A Flintoff,327.0,50.0,9.0,4,4.0,5.0,5.0,5.0,5.0,2,5,5,5,5,5
A Flower,314.0,87.0,8.0,4,3.0,5.0,5.0,5.0,5.0,2,5,5,5,5,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zakiullah Zaki,3.0,0.0,0.0,1,1.0,1.0,1.0,2.0,3.0,0,0,0,0,0,0
Ziaur Rahman,33.0,0.0,0.0,2,3.0,1.0,5.0,5.0,5.0,0,0,0,0,0,0
Zulfiqar Babar,15.0,0.0,0.0,2,3.0,1.0,5.0,5.0,5.0,0,0,0,0,0,0
Zulqarnain,6.0,0.0,0.0,1,1.0,1.0,2.0,3.0,5.0,0,0,0,0,0,0
Zulqarnain Haider,12.0,0.0,0.0,3,3.0,1.0,4.0,5.0,5.0,0,0,0,0,0,0

In [32]:
def fifven(k_bat_x):
    if (k_bat_x['100s']==1):
        return 4
    elif(k_bat_x['100s']==0):
        return 0
    
    elif(k_bat_x['100s']>=2):
        return 5

    
    
k_bat_x['fifty_venue'] = k_bat_x.apply(fifven, axis =1)
k_bat_x

,innings_batted_flag,50s,100s,average,strike_rate,innings_consistency,innings_form,innings_opposition,innings_venue,century_consistency,century_form,century_opposition,century_venue,fifty_consistency,fifty_form_oppo,fifty_venue
innings_player,,,,,,,,,,,,,,,,
A Balbirnie,192.0,27.0,15.0,4,3.0,5.0,5.0,5.0,5.0,4,5,5,5,3,5,5
A Bhandari,1.0,0.0,0.0,1,1.0,1.0,1.0,1.0,1.0,0,0,0,0,0,0,0
A Dananjaya,81.0,3.0,0.0,2,3.0,2.0,5.0,5.0,5.0,0,0,0,0,1,2,0
A Flintoff,327.0,50.0,9.0,4,4.0,5.0,5.0,5.0,5.0,2,5,5,5,5,5,5
A Flower,314.0,87.0,8.0,4,3.0,5.0,5.0,5.0,5.0,2,5,5,5,5,5,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zakiullah Zaki,3.0,0.0,0.0,1,1.0,1.0,1.0,2.0,3.0,0,0,0,0,0,0,0
Ziaur Rahman,33.0,0.0,0.0,2,3.0,1.0,5.0,5.0,5.0,0,0,0,0,0,0,0
Zulfiqar Babar,15.0,0.0,0.0,2,3.0,1.0,5.0,5.0,5.0,0,0,0,0,0,0,0
Zulqarnain,6.0,0.0,0.0,1,1.0,1.0,2.0,3.0,5.0,0,0,0,0,0,0,0
Zulqarnain Haider,12.0,0.0,0.0,3,3.0,1.0,4.0,5.0,5.0,0,0,0,0,0,0,0

In [33]:
k_bat_x.columns

Index(['innings_batted_flag', '50s', '100s', 'average', 'strike_rate',
       'innings_consistency', 'innings_form', 'innings_opposition',
       'innings_venue', 'century_consistency', 'century_form',
       'century_opposition', 'century_venue', 'fifty_consistency',
       'fifty_form_oppo', 'fifty_venue'],
      dtype='object')

In [34]:
k_bat_x['consistency'] = 0.4262*k_bat_x['average'] +  0.2566*k_bat_x['innings_consistency'] +  0.1510*k_bat_x['strike_rate'] + + 0.0787*k_bat_x['century_consistency']+ 0.0556*k_bat_x['fifty_consistency']
k_bat_x

,innings_batted_flag,50s,100s,average,strike_rate,innings_consistency,innings_form,innings_opposition,innings_venue,century_consistency,century_form,century_opposition,century_venue,fifty_consistency,fifty_form_oppo,fifty_venue,consistency
innings_player,,,,,,,,,,,,,,,,,
A Balbirnie,192.0,27.0,15.0,4,3.0,5.0,5.0,5.0,5.0,4,5,5,5,3,5,5,3.9224
A Bhandari,1.0,0.0,0.0,1,1.0,1.0,1.0,1.0,1.0,0,0,0,0,0,0,0,0.8338
A Dananjaya,81.0,3.0,0.0,2,3.0,2.0,5.0,5.0,5.0,0,0,0,0,1,2,0,1.8742
A Flintoff,327.0,50.0,9.0,4,4.0,5.0,5.0,5.0,5.0,2,5,5,5,5,5,5,4.0272
A Flower,314.0,87.0,8.0,4,3.0,5.0,5.0,5.0,5.0,2,5,5,5,5,5,5,3.8762
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zakiullah Zaki,3.0,0.0,0.0,1,1.0,1.0,1.0,2.0,3.0,0,0,0,0,0,0,0,0.8338
Ziaur Rahman,33.0,0.0,0.0,2,3.0,1.0,5.0,5.0,5.0,0,0,0,0,0,0,0,1.5620
Zulfiqar Babar,15.0,0.0,0.0,2,3.0,1.0,5.0,5.0,5.0,0,0,0,0,0,0,0,1.5620
Zulqarnain,6.0,0.0,0.0,1,1.0,1.0,2.0,3.0,5.0,0,0,0,0,0,0,0,0.8338
Zulqarnain Haider,12.0,0.0,0.0,3,3.0,1.0,4.0,5.0,5.0,0,0,0,0,0,0,0,1.9882

In [35]:
k_bat_x['form'] =  0.4262*k_bat_x['average'] + 0.2566*k_bat_x['innings_form'] + 0.1510*k_bat_x['strike_rate'] + 0.0787*k_bat_x['century_form'] + 0.0556*k_bat_x['fifty_form_oppo']

In [36]:
k_bat_x['opposition'] =  0.4262*k_bat_x['average'] + 0.2566*k_bat_x['innings_opposition'] + 0.1510*k_bat_x['strike_rate'] + 0.0787*k_bat_x['century_opposition'] + 0.0556*k_bat_x['fifty_form_oppo']

In [37]:
k_bat_x['venue'] =  0.4262*k_bat_x['average'] + 0.2566*k_bat_x['innings_venue'] + 0.1510*k_bat_x['strike_rate'] + 0.0787*k_bat_x['century_venue'] + 0.0556*k_bat_x['fifty_venue']

In [38]:
k_bat_y

                   innings_runs_scored_num
innings_player
A Balbirnie                         5730.0
A Bhandari                             0.0
A Dananjaya                          849.0
A Flintoff                          9267.0
A Flower                           10884.0
...                                    ...
Zakiullah Zaki                         9.0
Ziaur Rahman                         372.0
Zulfiqar Babar                       105.0
Zulqarnain                            18.0
Zulqarnain Haider                    144.0

[2291 rows x 1 columns]

In [39]:
k_bat_x.isna().sum()

innings_batted_flag      0
50s                      0
100s                     0
average                  0
strike_rate             11
innings_consistency     89
innings_form            89
innings_opposition      89
innings_venue           89
century_consistency      0
century_form             0
century_opposition       0
century_venue            0
fifty_consistency        0
fifty_form_oppo          0
fifty_venue              0
consistency            100
form                   100
opposition             100
venue                  100
dtype: int64

In [40]:
k_bat_x['consistency']=k_bat_x['consistency'].fillna(0)
k_bat_x['form']=k_bat_x['form'].fillna(0)
k_bat_x['opposition']=k_bat_x['opposition'].fillna(0)
k_bat_x['venue']=k_bat_x['venue'].fillna(0)
k_bat_x['innings_consistency']=k_bat_x['innings_consistency'].fillna(0)
k_bat_x['innings_form']=k_bat_x['innings_form'].fillna(0)
k_bat_x['innings_opposition']=k_bat_x['innings_opposition'].fillna(0)
k_bat_x['innings_venue']=k_bat_x['innings_venue'].fillna(0)
k_bat_x['strike_rate']=k_bat_x['strike_rate'].fillna(0)

In [41]:
k_bat_x.isna().sum()

innings_batted_flag    0
50s                    0
100s                   0
average                0
strike_rate            0
innings_consistency    0
innings_form           0
innings_opposition     0
innings_venue          0
century_consistency    0
century_form           0
century_opposition     0
century_venue          0
fifty_consistency      0
fifty_form_oppo        0
fifty_venue            0
consistency            0
form                   0
opposition             0
venue                  0
dtype: int64

In [42]:
k_bat_y.head()

                innings_runs_scored_num
innings_player
A Balbirnie                      5730.0
A Bhandari                          0.0
A Dananjaya                       849.0
A Flintoff                       9267.0
A Flower                        10884.0

In [43]:
def run(k_bat_y):
    if (0<=k_bat_y['innings_runs_scored_num']<2499):
        return 1
    elif(2500<k_bat_y['innings_runs_scored_num']<4999):
        return 2
    elif(5000< k_bat_y['innings_runs_scored_num']<7499):
        return 3
    elif(7500< k_bat_y['innings_runs_scored_num']< 9999):
        return 4
    elif(k_bat_y['innings_runs_scored_num']>=10000):
        return 5

    
    
k_bat_y['innings_runs_scored_num'] = k_bat_y.apply(run, axis =1)
k_bat_y

D:\anaconda\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

                   innings_runs_scored_num
innings_player
A Balbirnie                              3
A Bhandari                               1
A Dananjaya                              1
A Flintoff                               4
A Flower                                 5
...                                    ...
Zakiullah Zaki                           1
Ziaur Rahman                             1
Zulfiqar Babar                           1
Zulqarnain                               1
Zulqarnain Haider                        1

[2291 rows x 1 columns]

In [44]:
k_bat_x.head()

,innings_batted_flag,50s,100s,average,strike_rate,innings_consistency,innings_form,innings_opposition,innings_venue,century_consistency,century_form,century_opposition,century_venue,fifty_consistency,fifty_form_oppo,fifty_venue,consistency,form,opposition,venue
innings_player,,,,,,,,,,,,,,,,,,,,
A Balbirnie,192.0,27.0,15.0,4,3.0,5.0,5.0,5.0,5.0,4,5,5,5,3,5,5,3.9224,4.1123,4.1123,4.1123
A Bhandari,1.0,0.0,0.0,1,1.0,1.0,1.0,1.0,1.0,0,0,0,0,0,0,0,0.8338,0.8338,0.8338,0.8338
A Dananjaya,81.0,3.0,0.0,2,3.0,2.0,5.0,5.0,5.0,0,0,0,0,1,2,0,1.8742,2.6996,2.6996,2.5884
A Flintoff,327.0,50.0,9.0,4,4.0,5.0,5.0,5.0,5.0,2,5,5,5,5,5,5,4.0272,4.2633,4.2633,4.2633
A Flower,314.0,87.0,8.0,4,3.0,5.0,5.0,5.0,5.0,2,5,5,5,5,5,5,3.8762,4.1123,4.1123,4.1123

In [45]:
from sklearn.model_selection import train_test_split
X_train_bat, X_test_bat, y_train_bat, y_test_bat = train_test_split(k_bat_x, k_bat_y, test_size = 0.30, random_state = 0)

In [46]:
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier(n_estimators = 15, criterion = 'entropy', random_state = 0)
classifier.fit(X_train_bat, y_train_bat)

D:\anaconda\lib\site-packages\ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='entropy', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=15,
                       n_jobs=None, oob_score=False, random_state=0, verbose=0,
                       warm_start=False)

In [47]:
y_pred = classifier.predict(X_test_bat)

In [48]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test_bat, y_pred)
print(cm)

[[561   1   0   0   0]
 [  6  54   2   0   0]
 [  0   4  16   2   0]
 [  0   0   1  13   1]
 [  0   0   0   2  25]]

In [49]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test_bat,y_pred)

0.9723837209302325

In [50]:
# Training the Naive Bayes model on the Training set
from sklearn.naive_bayes import GaussianNB
classifier_Nb = GaussianNB()
classifier_Nb.fit(X_train_bat, y_train_bat)

# Predicting the Test set results
y_pred_Nb = classifier_Nb.predict(X_test_bat)

# Making the Confusion Matrix
from sklearn.metrics import confusion_matrix
cm_Nb = confusion_matrix(y_test_bat, y_pred)
print(cm)

D:\anaconda\lib\site-packages\sklearn\naive_bayes.py:207: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[[561   1   0   0   0]
 [  6  54   2   0   0]
 [  0   4  16   2   0]
 [  0   0   1  13   1]
 [  0   0   0   2  25]]

In [51]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test_bat,y_pred_Nb)

0.8590116279069767

In [52]:
#Import svm model
from sklearn import svm

#Create a svm Classifier
clf1 = svm.SVC(kernel='linear') 

#Train the model using the training sets
clf1.fit(X_train_bat, y_train_bat)

#Predict the response for test dataset
y_pred5 = clf1.predict(X_test_bat)

#Import scikit-learn metrics module for accuracy calculation
from sklearn import metrics

# Model Accuracy: how often is the classifier correct?
print(" svm Accuracy:",metrics.accuracy_score(y_test_bat, y_pred5))

D:\anaconda\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

 svm Accuracy: 0.9767441860465116

In [59]:
from sklearn.tree import DecisionTreeClassifier
clf3 = DecisionTreeClassifier(criterion="entropy", max_depth=5)

# Train Decision Tree Classifer
clf3 = clf3.fit(X_train_bat,y_train_bat)

#Predict the response for test dataset
y_pred3 = clf3.predict(X_test_bat)

# Model Accuracy, how often is the classifier correct?
print(" tree Accuracy:",accuracy_score(y_test_bat, y_pred3))

 tree Accuracy: 0.9709302325581395

tree Accuracy: 0.9709302325581395
svm Accuracy: 0.9767441860465116 
naive bayes accuracy : 0.8590116279069767
random forest accuracy :0.9723837209302325

As i was not able to get the exact data used in research paper due to lack of time my results differ from there but based on the given dataset svm got best accuracy.

now we will be analysing bowling:

In [60]:
k_bowl

,innings_bowled_flag,innings_maidens_bowled,innings_runs_conceded,innings_wickets_taken,4_wickets,5_wickets,10_wickets,innings_economy_rate
innings_player,,,,,,,,
A Balbirnie,9.0,0.0,204.0,6.0,201.0,0.0,0.0,71.85
A Bhandari,4.0,0.0,168.0,11.0,4.0,0.0,0.0,19.62
A Dananjaya,102.0,15.0,4518.0,153.0,101.0,6.0,0.0,528.66
A Flintoff,330.0,198.0,11408.0,490.0,368.0,6.0,0.0,1430.92
A Flower,2.0,0.0,23.0,0.0,326.0,0.0,0.0,12.50
...,...,...,...,...,...,...,...,...
Zakiullah Zaki,3.0,0.0,81.0,0.0,3.0,0.0,0.0,20.25
Ziaur Rahman,33.0,3.0,903.0,30.0,36.0,3.0,0.0,157.65
Zulfiqar Babar,15.0,3.0,738.0,12.0,15.0,0.0,0.0,74.94
Zulqarnain,0.0,0.0,0.0,0.0,16.0,0.0,0.0,0.00
Zulqarnain Haider,0.0,0.0,0.0,0.0,12.0,0.0,0.0,0.00

In [61]:
k_bowl['overs'] = k_bowl.innings_bowled_flag*10

D:\anaconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [62]:
k_bowl

,innings_bowled_flag,innings_maidens_bowled,innings_runs_conceded,innings_wickets_taken,4_wickets,5_wickets,10_wickets,innings_economy_rate,overs
innings_player,,,,,,,,,
A Balbirnie,9.0,0.0,204.0,6.0,201.0,0.0,0.0,71.85,90.0
A Bhandari,4.0,0.0,168.0,11.0,4.0,0.0,0.0,19.62,40.0
A Dananjaya,102.0,15.0,4518.0,153.0,101.0,6.0,0.0,528.66,1020.0
A Flintoff,330.0,198.0,11408.0,490.0,368.0,6.0,0.0,1430.92,3300.0
A Flower,2.0,0.0,23.0,0.0,326.0,0.0,0.0,12.50,20.0
...,...,...,...,...,...,...,...,...,...
Zakiullah Zaki,3.0,0.0,81.0,0.0,3.0,0.0,0.0,20.25,30.0
Ziaur Rahman,33.0,3.0,903.0,30.0,36.0,3.0,0.0,157.65,330.0
Zulfiqar Babar,15.0,3.0,738.0,12.0,15.0,0.0,0.0,74.94,150.0
Zulqarnain,0.0,0.0,0.0,0.0,16.0,0.0,0.0,0.00,0.0
Zulqarnain Haider,0.0,0.0,0.0,0.0,12.0,0.0,0.0,0.00,0.0

In [63]:
def ocon(k_bowl):
    if (1<=k_bowl['overs']<=99):
        return 1
    elif(100<=k_bowl['overs']<=249):
        return 2
    elif(250<= k_bowl['overs']<=499):
        return 3
    elif(500<= k_bowl['overs']<= 1000):
        return 4
    elif(k_bowl['overs']>=1000):
        return 5

    
    
k_bowl['overs_consistency'] = k_bowl.apply(ocon, axis =1)
k_bowl

D:\anaconda\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

,innings_bowled_flag,innings_maidens_bowled,innings_runs_conceded,innings_wickets_taken,4_wickets,5_wickets,10_wickets,innings_economy_rate,overs,overs_consistency
innings_player,,,,,,,,,,
A Balbirnie,9.0,0.0,204.0,6.0,201.0,0.0,0.0,71.85,90.0,1.0
A Bhandari,4.0,0.0,168.0,11.0,4.0,0.0,0.0,19.62,40.0,1.0
A Dananjaya,102.0,15.0,4518.0,153.0,101.0,6.0,0.0,528.66,1020.0,5.0
A Flintoff,330.0,198.0,11408.0,490.0,368.0,6.0,0.0,1430.92,3300.0,5.0
A Flower,2.0,0.0,23.0,0.0,326.0,0.0,0.0,12.50,20.0,1.0
...,...,...,...,...,...,...,...,...,...,...
Zakiullah Zaki,3.0,0.0,81.0,0.0,3.0,0.0,0.0,20.25,30.0,1.0
Ziaur Rahman,33.0,3.0,903.0,30.0,36.0,3.0,0.0,157.65,330.0,3.0
Zulfiqar Babar,15.0,3.0,738.0,12.0,15.0,0.0,0.0,74.94,150.0,2.0
Zulqarnain,0.0,0.0,0.0,0.0,16.0,0.0,0.0,0.00,0.0,NaN
Zulqarnain Haider,0.0,0.0,0.0,0.0,12.0,0.0,0.0,0.00,0.0,NaN

In [64]:
def oform(k_bowl):
    if (1<=k_bowl['overs']<=9):
        return 1
    elif(10<=k_bowl['overs']<=24):
        return 2
    elif(25<= k_bowl['overs']<=49):
        return 3
    elif(50<=k_bowl['overs']<= 100):
        return 4
    elif(k_bowl['overs']>=100):
        return 5

    
    
k_bowl['overs_form_oppo'] = k_bowl.apply(oform, axis =1)
k_bowl

D:\anaconda\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

,innings_bowled_flag,innings_maidens_bowled,innings_runs_conceded,innings_wickets_taken,4_wickets,5_wickets,10_wickets,innings_economy_rate,overs,overs_consistency,overs_form_oppo
innings_player,,,,,,,,,,,
A Balbirnie,9.0,0.0,204.0,6.0,201.0,0.0,0.0,71.85,90.0,1.0,4.0
A Bhandari,4.0,0.0,168.0,11.0,4.0,0.0,0.0,19.62,40.0,1.0,3.0
A Dananjaya,102.0,15.0,4518.0,153.0,101.0,6.0,0.0,528.66,1020.0,5.0,5.0
A Flintoff,330.0,198.0,11408.0,490.0,368.0,6.0,0.0,1430.92,3300.0,5.0,5.0
A Flower,2.0,0.0,23.0,0.0,326.0,0.0,0.0,12.50,20.0,1.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...
Zakiullah Zaki,3.0,0.0,81.0,0.0,3.0,0.0,0.0,20.25,30.0,1.0,3.0
Ziaur Rahman,33.0,3.0,903.0,30.0,36.0,3.0,0.0,157.65,330.0,3.0,5.0
Zulfiqar Babar,15.0,3.0,738.0,12.0,15.0,0.0,0.0,74.94,150.0,2.0,5.0
Zulqarnain,0.0,0.0,0.0,0.0,16.0,0.0,0.0,0.00,0.0,NaN,NaN
Zulqarnain Haider,0.0,0.0,0.0,0.0,12.0,0.0,0.0,0.00,0.0,NaN,NaN

In [65]:
def oven(k_bowl):
    if (1<=k_bowl['overs']<=9):
        return 1
    elif(10<=k_bowl['overs']<=19):
        return 2
    elif(20<= k_bowl['overs']<=29):
        return 3
    elif(30<= k_bowl['overs']<= 39):
        return 4
    elif(k_bowl['overs']>=40):
        return 5

    
    
k_bowl['overs_venue'] = k_bowl.apply(oven, axis =1)
k_bowl

D:\anaconda\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

,innings_bowled_flag,innings_maidens_bowled,innings_runs_conceded,innings_wickets_taken,4_wickets,5_wickets,10_wickets,innings_economy_rate,overs,overs_consistency,overs_form_oppo,overs_venue
innings_player,,,,,,,,,,,,
A Balbirnie,9.0,0.0,204.0,6.0,201.0,0.0,0.0,71.85,90.0,1.0,4.0,5.0
A Bhandari,4.0,0.0,168.0,11.0,4.0,0.0,0.0,19.62,40.0,1.0,3.0,5.0
A Dananjaya,102.0,15.0,4518.0,153.0,101.0,6.0,0.0,528.66,1020.0,5.0,5.0,5.0
A Flintoff,330.0,198.0,11408.0,490.0,368.0,6.0,0.0,1430.92,3300.0,5.0,5.0,5.0
A Flower,2.0,0.0,23.0,0.0,326.0,0.0,0.0,12.50,20.0,1.0,2.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...
Zakiullah Zaki,3.0,0.0,81.0,0.0,3.0,0.0,0.0,20.25,30.0,1.0,3.0,4.0
Ziaur Rahman,33.0,3.0,903.0,30.0,36.0,3.0,0.0,157.65,330.0,3.0,5.0,5.0
Zulfiqar Babar,15.0,3.0,738.0,12.0,15.0,0.0,0.0,74.94,150.0,2.0,5.0,5.0
Zulqarnain,0.0,0.0,0.0,0.0,16.0,0.0,0.0,0.00,0.0,NaN,NaN,NaN
Zulqarnain Haider,0.0,0.0,0.0,0.0,12.0,0.0,0.0,0.00,0.0,NaN,NaN,NaN

In [66]:
k_bowl['bowling_average'] = k_bowl['innings_runs_conceded']/(k_bowl['innings_wickets_taken']+1)
k_bowl

D:\anaconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,innings_bowled_flag,innings_maidens_bowled,innings_runs_conceded,innings_wickets_taken,4_wickets,5_wickets,10_wickets,innings_economy_rate,overs,overs_consistency,overs_form_oppo,overs_venue,bowling_average
innings_player,,,,,,,,,,,,,
A Balbirnie,9.0,0.0,204.0,6.0,201.0,0.0,0.0,71.85,90.0,1.0,4.0,5.0,29.142857
A Bhandari,4.0,0.0,168.0,11.0,4.0,0.0,0.0,19.62,40.0,1.0,3.0,5.0,14.000000
A Dananjaya,102.0,15.0,4518.0,153.0,101.0,6.0,0.0,528.66,1020.0,5.0,5.0,5.0,29.337662
A Flintoff,330.0,198.0,11408.0,490.0,368.0,6.0,0.0,1430.92,3300.0,5.0,5.0,5.0,23.234216
A Flower,2.0,0.0,23.0,0.0,326.0,0.0,0.0,12.50,20.0,1.0,2.0,3.0,23.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zakiullah Zaki,3.0,0.0,81.0,0.0,3.0,0.0,0.0,20.25,30.0,1.0,3.0,4.0,81.000000
Ziaur Rahman,33.0,3.0,903.0,30.0,36.0,3.0,0.0,157.65,330.0,3.0,5.0,5.0,29.129032
Zulfiqar Babar,15.0,3.0,738.0,12.0,15.0,0.0,0.0,74.94,150.0,2.0,5.0,5.0,56.769231
Zulqarnain,0.0,0.0,0.0,0.0,16.0,0.0,0.0,0.00,0.0,NaN,NaN,NaN,0.000000
Zulqarnain Haider,0.0,0.0,0.0,0.0,12.0,0.0,0.0,0.00,0.0,NaN,NaN,NaN,0.000000

In [67]:
def BA(k_bowl):
    if (1<=k_bowl['bowling_average']<=24.99):
        return 5
    elif(25<=k_bowl['bowling_average']<=29.99):
        return 4
    elif(30<= k_bowl['bowling_average']<=34.99):
        return 3
    elif(35<= k_bowl['bowling_average']<= 49.99):
        return 2
    elif(k_bowl['bowling_average']>=50.00):
        return 1

    
    
k_bowl['bowling_average'] = k_bowl.apply(BA, axis =1)
k_bowl

D:\anaconda\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

,innings_bowled_flag,innings_maidens_bowled,innings_runs_conceded,innings_wickets_taken,4_wickets,5_wickets,10_wickets,innings_economy_rate,overs,overs_consistency,overs_form_oppo,overs_venue,bowling_average
innings_player,,,,,,,,,,,,,
A Balbirnie,9.0,0.0,204.0,6.0,201.0,0.0,0.0,71.85,90.0,1.0,4.0,5.0,4.0
A Bhandari,4.0,0.0,168.0,11.0,4.0,0.0,0.0,19.62,40.0,1.0,3.0,5.0,5.0
A Dananjaya,102.0,15.0,4518.0,153.0,101.0,6.0,0.0,528.66,1020.0,5.0,5.0,5.0,4.0
A Flintoff,330.0,198.0,11408.0,490.0,368.0,6.0,0.0,1430.92,3300.0,5.0,5.0,5.0,5.0
A Flower,2.0,0.0,23.0,0.0,326.0,0.0,0.0,12.50,20.0,1.0,2.0,3.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zakiullah Zaki,3.0,0.0,81.0,0.0,3.0,0.0,0.0,20.25,30.0,1.0,3.0,4.0,1.0
Ziaur Rahman,33.0,3.0,903.0,30.0,36.0,3.0,0.0,157.65,330.0,3.0,5.0,5.0,4.0
Zulfiqar Babar,15.0,3.0,738.0,12.0,15.0,0.0,0.0,74.94,150.0,2.0,5.0,5.0,1.0
Zulqarnain,0.0,0.0,0.0,0.0,16.0,0.0,0.0,0.00,0.0,NaN,NaN,NaN,NaN
Zulqarnain Haider,0.0,0.0,0.0,0.0,12.0,0.0,0.0,0.00,0.0,NaN,NaN,NaN,NaN

In [68]:
k_bowl['bowling_strike_rate'] = (k_bowl['overs']*6)/(k_bowl['innings_wickets_taken']+1)

D:\anaconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [69]:
def BS(k_bowl):
    if (1<=k_bowl['bowling_strike_rate']<=29.99):
        return 5
    elif(30<=k_bowl['bowling_strike_rate']<=39.99):
        return 4
    elif(40<= k_bowl['bowling_strike_rate']<=49.99):
        return 3
    elif(50<= k_bowl['bowling_strike_rate']<= 59.99):
        return 2
    elif(k_bowl['bowling_strike_rate']>=60.00):
        return 1

    
    
k_bowl['bowling_strike_rate'] = k_bowl.apply(BS, axis =1)
k_bowl

D:\anaconda\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

,innings_bowled_flag,innings_maidens_bowled,innings_runs_conceded,innings_wickets_taken,4_wickets,5_wickets,10_wickets,innings_economy_rate,overs,overs_consistency,overs_form_oppo,overs_venue,bowling_average,bowling_strike_rate
innings_player,,,,,,,,,,,,,,
A Balbirnie,9.0,0.0,204.0,6.0,201.0,0.0,0.0,71.85,90.0,1.0,4.0,5.0,4.0,1.0
A Bhandari,4.0,0.0,168.0,11.0,4.0,0.0,0.0,19.62,40.0,1.0,3.0,5.0,5.0,5.0
A Dananjaya,102.0,15.0,4518.0,153.0,101.0,6.0,0.0,528.66,1020.0,5.0,5.0,5.0,4.0,4.0
A Flintoff,330.0,198.0,11408.0,490.0,368.0,6.0,0.0,1430.92,3300.0,5.0,5.0,5.0,5.0,3.0
A Flower,2.0,0.0,23.0,0.0,326.0,0.0,0.0,12.50,20.0,1.0,2.0,3.0,5.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zakiullah Zaki,3.0,0.0,81.0,0.0,3.0,0.0,0.0,20.25,30.0,1.0,3.0,4.0,1.0,1.0
Ziaur Rahman,33.0,3.0,903.0,30.0,36.0,3.0,0.0,157.65,330.0,3.0,5.0,5.0,4.0,1.0
Zulfiqar Babar,15.0,3.0,738.0,12.0,15.0,0.0,0.0,74.94,150.0,2.0,5.0,5.0,1.0,1.0
Zulqarnain,0.0,0.0,0.0,0.0,16.0,0.0,0.0,0.00,0.0,NaN,NaN,NaN,NaN,NaN
Zulqarnain Haider,0.0,0.0,0.0,0.0,12.0,0.0,0.0,0.00,0.0,NaN,NaN,NaN,NaN,NaN

In [70]:
def h4wcon(k_bowl):
    if (1<=k_bowl['4_wickets']<=2):
        return 3
    elif(3<=k_bowl['4_wickets']<=4):
        return 4
    elif(k_bowl['4_wickets']>=5):
        return 5

    
    
k_bowl['4_wickets_consistency'] = k_bowl.apply(h4wcon, axis =1)
k_bowl

D:\anaconda\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

,innings_bowled_flag,innings_maidens_bowled,innings_runs_conceded,innings_wickets_taken,4_wickets,5_wickets,10_wickets,innings_economy_rate,overs,overs_consistency,overs_form_oppo,overs_venue,bowling_average,bowling_strike_rate,4_wickets_consistency
innings_player,,,,,,,,,,,,,,,
A Balbirnie,9.0,0.0,204.0,6.0,201.0,0.0,0.0,71.85,90.0,1.0,4.0,5.0,4.0,1.0,5
A Bhandari,4.0,0.0,168.0,11.0,4.0,0.0,0.0,19.62,40.0,1.0,3.0,5.0,5.0,5.0,4
A Dananjaya,102.0,15.0,4518.0,153.0,101.0,6.0,0.0,528.66,1020.0,5.0,5.0,5.0,4.0,4.0,5
A Flintoff,330.0,198.0,11408.0,490.0,368.0,6.0,0.0,1430.92,3300.0,5.0,5.0,5.0,5.0,3.0,5
A Flower,2.0,0.0,23.0,0.0,326.0,0.0,0.0,12.50,20.0,1.0,2.0,3.0,5.0,1.0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zakiullah Zaki,3.0,0.0,81.0,0.0,3.0,0.0,0.0,20.25,30.0,1.0,3.0,4.0,1.0,1.0,4
Ziaur Rahman,33.0,3.0,903.0,30.0,36.0,3.0,0.0,157.65,330.0,3.0,5.0,5.0,4.0,1.0,5
Zulfiqar Babar,15.0,3.0,738.0,12.0,15.0,0.0,0.0,74.94,150.0,2.0,5.0,5.0,1.0,1.0,5
Zulqarnain,0.0,0.0,0.0,0.0,16.0,0.0,0.0,0.00,0.0,NaN,NaN,NaN,NaN,NaN,5
Zulqarnain Haider,0.0,0.0,0.0,0.0,12.0,0.0,0.0,0.00,0.0,NaN,NaN,NaN,NaN,NaN,5

In [71]:
def h5wcon(k_bowl):
    if (1<=k_bowl['5_wickets']<=2):
        return 3
    elif(3<=k_bowl['5_wickets']<=4):
        return 4
    elif(k_bowl['5_wickets']>=5):
        return 5

    
    
k_bowl['5_wickets_consistency'] = k_bowl.apply(h5wcon, axis =1)
k_bowl

D:\anaconda\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

,innings_bowled_flag,innings_maidens_bowled,innings_runs_conceded,innings_wickets_taken,4_wickets,5_wickets,10_wickets,innings_economy_rate,overs,overs_consistency,overs_form_oppo,overs_venue,bowling_average,bowling_strike_rate,4_wickets_consistency,5_wickets_consistency
innings_player,,,,,,,,,,,,,,,,
A Balbirnie,9.0,0.0,204.0,6.0,201.0,0.0,0.0,71.85,90.0,1.0,4.0,5.0,4.0,1.0,5,NaN
A Bhandari,4.0,0.0,168.0,11.0,4.0,0.0,0.0,19.62,40.0,1.0,3.0,5.0,5.0,5.0,4,NaN
A Dananjaya,102.0,15.0,4518.0,153.0,101.0,6.0,0.0,528.66,1020.0,5.0,5.0,5.0,4.0,4.0,5,5.0
A Flintoff,330.0,198.0,11408.0,490.0,368.0,6.0,0.0,1430.92,3300.0,5.0,5.0,5.0,5.0,3.0,5,5.0
A Flower,2.0,0.0,23.0,0.0,326.0,0.0,0.0,12.50,20.0,1.0,2.0,3.0,5.0,1.0,5,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zakiullah Zaki,3.0,0.0,81.0,0.0,3.0,0.0,0.0,20.25,30.0,1.0,3.0,4.0,1.0,1.0,4,NaN
Ziaur Rahman,33.0,3.0,903.0,30.0,36.0,3.0,0.0,157.65,330.0,3.0,5.0,5.0,4.0,1.0,5,4.0
Zulfiqar Babar,15.0,3.0,738.0,12.0,15.0,0.0,0.0,74.94,150.0,2.0,5.0,5.0,1.0,1.0,5,NaN
Zulqarnain,0.0,0.0,0.0,0.0,16.0,0.0,0.0,0.00,0.0,NaN,NaN,NaN,NaN,NaN,5,NaN
Zulqarnain Haider,0.0,0.0,0.0,0.0,12.0,0.0,0.0,0.00,0.0,NaN,NaN,NaN,NaN,NaN,5,NaN

In [72]:
def h5wven(k_bowl):
    if (1<=k_bowl['5_wickets']<=2):
        return 4
    
    elif(k_bowl['5_wickets']>=3):
        return 5

    
    
k_bowl['5_wickets_form_venue'] = k_bowl.apply(h5wven, axis =1)
k_bowl

D:\anaconda\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

,innings_bowled_flag,innings_maidens_bowled,innings_runs_conceded,innings_wickets_taken,4_wickets,5_wickets,10_wickets,innings_economy_rate,overs,overs_consistency,overs_form_oppo,overs_venue,bowling_average,bowling_strike_rate,4_wickets_consistency,5_wickets_consistency,5_wickets_form_venue
innings_player,,,,,,,,,,,,,,,,,
A Balbirnie,9.0,0.0,204.0,6.0,201.0,0.0,0.0,71.85,90.0,1.0,4.0,5.0,4.0,1.0,5,NaN,NaN
A Bhandari,4.0,0.0,168.0,11.0,4.0,0.0,0.0,19.62,40.0,1.0,3.0,5.0,5.0,5.0,4,NaN,NaN
A Dananjaya,102.0,15.0,4518.0,153.0,101.0,6.0,0.0,528.66,1020.0,5.0,5.0,5.0,4.0,4.0,5,5.0,5.0
A Flintoff,330.0,198.0,11408.0,490.0,368.0,6.0,0.0,1430.92,3300.0,5.0,5.0,5.0,5.0,3.0,5,5.0,5.0
A Flower,2.0,0.0,23.0,0.0,326.0,0.0,0.0,12.50,20.0,1.0,2.0,3.0,5.0,1.0,5,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zakiullah Zaki,3.0,0.0,81.0,0.0,3.0,0.0,0.0,20.25,30.0,1.0,3.0,4.0,1.0,1.0,4,NaN,NaN
Ziaur Rahman,33.0,3.0,903.0,30.0,36.0,3.0,0.0,157.65,330.0,3.0,5.0,5.0,4.0,1.0,5,4.0,5.0
Zulfiqar Babar,15.0,3.0,738.0,12.0,15.0,0.0,0.0,74.94,150.0,2.0,5.0,5.0,1.0,1.0,5,NaN,NaN
Zulqarnain,0.0,0.0,0.0,0.0,16.0,0.0,0.0,0.00,0.0,NaN,NaN,NaN,NaN,NaN,5,NaN,NaN
Zulqarnain Haider,0.0,0.0,0.0,0.0,12.0,0.0,0.0,0.00,0.0,NaN,NaN,NaN,NaN,NaN,5,NaN,NaN

In [73]:
def h4wven(k_bowl):
    if (1<=k_bowl['4_wickets']<=2):
        return 4
    
    elif(k_bowl['4_wickets']>=3):
        return 5

    
    
k_bowl['4_wickets_form_venue'] = k_bowl.apply(h4wven, axis =1)
k_bowl

D:\anaconda\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

,innings_bowled_flag,innings_maidens_bowled,innings_runs_conceded,innings_wickets_taken,4_wickets,5_wickets,10_wickets,innings_economy_rate,overs,overs_consistency,overs_form_oppo,overs_venue,bowling_average,bowling_strike_rate,4_wickets_consistency,5_wickets_consistency,5_wickets_form_venue,4_wickets_form_venue
innings_player,,,,,,,,,,,,,,,,,,
A Balbirnie,9.0,0.0,204.0,6.0,201.0,0.0,0.0,71.85,90.0,1.0,4.0,5.0,4.0,1.0,5,NaN,NaN,5
A Bhandari,4.0,0.0,168.0,11.0,4.0,0.0,0.0,19.62,40.0,1.0,3.0,5.0,5.0,5.0,4,NaN,NaN,5
A Dananjaya,102.0,15.0,4518.0,153.0,101.0,6.0,0.0,528.66,1020.0,5.0,5.0,5.0,4.0,4.0,5,5.0,5.0,5
A Flintoff,330.0,198.0,11408.0,490.0,368.0,6.0,0.0,1430.92,3300.0,5.0,5.0,5.0,5.0,3.0,5,5.0,5.0,5
A Flower,2.0,0.0,23.0,0.0,326.0,0.0,0.0,12.50,20.0,1.0,2.0,3.0,5.0,1.0,5,NaN,NaN,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zakiullah Zaki,3.0,0.0,81.0,0.0,3.0,0.0,0.0,20.25,30.0,1.0,3.0,4.0,1.0,1.0,4,NaN,NaN,5
Ziaur Rahman,33.0,3.0,903.0,30.0,36.0,3.0,0.0,157.65,330.0,3.0,5.0,5.0,4.0,1.0,5,4.0,5.0,5
Zulfiqar Babar,15.0,3.0,738.0,12.0,15.0,0.0,0.0,74.94,150.0,2.0,5.0,5.0,1.0,1.0,5,NaN,NaN,5
Zulqarnain,0.0,0.0,0.0,0.0,16.0,0.0,0.0,0.00,0.0,NaN,NaN,NaN,NaN,NaN,5,NaN,NaN,5
Zulqarnain Haider,0.0,0.0,0.0,0.0,12.0,0.0,0.0,0.00,0.0,NaN,NaN,NaN,NaN,NaN,5,NaN,NaN,5

In [74]:
def icon(k_bowl):
    if (1<=k_bowl['innings_bowled_flag']<=49):
        return 1
    elif(50<=k_bowl['innings_bowled_flag']<=99):
        return 2
    elif(100<= k_bowl['innings_bowled_flag']<=124):
        return 3
    elif(125<= k_bowl['innings_bowled_flag']<= 149):
        return 4
    elif(k_bowl['innings_bowled_flag']>=150):
        return 5

    
    
k_bowl['inning_consistency'] = k_bowl.apply(icon, axis =1)
k_bowl

,innings_bowled_flag,innings_maidens_bowled,innings_runs_conceded,innings_wickets_taken,4_wickets,5_wickets,10_wickets,innings_economy_rate,overs,overs_consistency,overs_form_oppo,overs_venue,bowling_average,bowling_strike_rate,4_wickets_consistency,5_wickets_consistency,5_wickets_form_venue,4_wickets_form_venue,inning_consistency
innings_player,,,,,,,,,,,,,,,,,,,
A Balbirnie,9.0,0.0,204.0,6.0,201.0,0.0,0.0,71.85,90.0,1.0,4.0,5.0,4.0,1.0,5,NaN,NaN,5,1.0
A Bhandari,4.0,0.0,168.0,11.0,4.0,0.0,0.0,19.62,40.0,1.0,3.0,5.0,5.0,5.0,4,NaN,NaN,5,1.0
A Dananjaya,102.0,15.0,4518.0,153.0,101.0,6.0,0.0,528.66,1020.0,5.0,5.0,5.0,4.0,4.0,5,5.0,5.0,5,3.0
A Flintoff,330.0,198.0,11408.0,490.0,368.0,6.0,0.0,1430.92,3300.0,5.0,5.0,5.0,5.0,3.0,5,5.0,5.0,5,5.0
A Flower,2.0,0.0,23.0,0.0,326.0,0.0,0.0,12.50,20.0,1.0,2.0,3.0,5.0,1.0,5,NaN,NaN,5,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zakiullah Zaki,3.0,0.0,81.0,0.0,3.0,0.0,0.0,20.25,30.0,1.0,3.0,4.0,1.0,1.0,4,NaN,NaN,5,1.0
Ziaur Rahman,33.0,3.0,903.0,30.0,36.0,3.0,0.0,157.65,330.0,3.0,5.0,5.0,4.0,1.0,5,4.0,5.0,5,1.0
Zulfiqar Babar,15.0,3.0,738.0,12.0,15.0,0.0,0.0,74.94,150.0,2.0,5.0,5.0,1.0,1.0,5,NaN,NaN,5,1.0
Zulqarnain,0.0,0.0,0.0,0.0,16.0,0.0,0.0,0.00,0.0,NaN,NaN,NaN,NaN,NaN,5,NaN,NaN,5,NaN
Zulqarnain Haider,0.0,0.0,0.0,0.0,12.0,0.0,0.0,0.00,0.0,NaN,NaN,NaN,NaN,NaN,5,NaN,NaN,5,NaN

In [75]:
def iform(k_bowl):
    if (1<=k_bowl['innings_bowled_flag']<=4):
        return 1
    elif(5<=k_bowl['innings_bowled_flag']<=9):
        return 2
    elif(10<= k_bowl['innings_bowled_flag']<=11):
        return 3
    elif(12<= k_bowl['innings_bowled_flag']<= 14):
        return 4
    elif(k_bowl['innings_bowled_flag']>=15):
        return 5

    
    
k_bowl['inning_form'] = k_bowl.apply(iform, axis =1)
k_bowl

,innings_bowled_flag,innings_maidens_bowled,innings_runs_conceded,innings_wickets_taken,4_wickets,5_wickets,10_wickets,innings_economy_rate,overs,overs_consistency,overs_form_oppo,overs_venue,bowling_average,bowling_strike_rate,4_wickets_consistency,5_wickets_consistency,5_wickets_form_venue,4_wickets_form_venue,inning_consistency,inning_form
innings_player,,,,,,,,,,,,,,,,,,,,
A Balbirnie,9.0,0.0,204.0,6.0,201.0,0.0,0.0,71.85,90.0,1.0,4.0,5.0,4.0,1.0,5,NaN,NaN,5,1.0,2.0
A Bhandari,4.0,0.0,168.0,11.0,4.0,0.0,0.0,19.62,40.0,1.0,3.0,5.0,5.0,5.0,4,NaN,NaN,5,1.0,1.0
A Dananjaya,102.0,15.0,4518.0,153.0,101.0,6.0,0.0,528.66,1020.0,5.0,5.0,5.0,4.0,4.0,5,5.0,5.0,5,3.0,5.0
A Flintoff,330.0,198.0,11408.0,490.0,368.0,6.0,0.0,1430.92,3300.0,5.0,5.0,5.0,5.0,3.0,5,5.0,5.0,5,5.0,5.0
A Flower,2.0,0.0,23.0,0.0,326.0,0.0,0.0,12.50,20.0,1.0,2.0,3.0,5.0,1.0,5,NaN,NaN,5,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zakiullah Zaki,3.0,0.0,81.0,0.0,3.0,0.0,0.0,20.25,30.0,1.0,3.0,4.0,1.0,1.0,4,NaN,NaN,5,1.0,1.0
Ziaur Rahman,33.0,3.0,903.0,30.0,36.0,3.0,0.0,157.65,330.0,3.0,5.0,5.0,4.0,1.0,5,4.0,5.0,5,1.0,5.0
Zulfiqar Babar,15.0,3.0,738.0,12.0,15.0,0.0,0.0,74.94,150.0,2.0,5.0,5.0,1.0,1.0,5,NaN,NaN,5,1.0,5.0
Zulqarnain,0.0,0.0,0.0,0.0,16.0,0.0,0.0,0.00,0.0,NaN,NaN,NaN,NaN,NaN,5,NaN,NaN,5,NaN,NaN
Zulqarnain Haider,0.0,0.0,0.0,0.0,12.0,0.0,0.0,0.00,0.0,NaN,NaN,NaN,NaN,NaN,5,NaN,NaN,5,NaN,NaN

In [76]:
def ioppo(k_bowl):
    if (1<=k_bowl['innings_bowled_flag']<=2):
        return 1
    elif(3<=k_bowl['innings_bowled_flag']<=4):
        return 2
    elif(5<= k_bowl['innings_bowled_flag']<=6):
        return 3
    elif(7<= k_bowl['innings_bowled_flag']<= 9):
        return 4
    elif(k_bowl['innings_bowled_flag']>=10):
        return 5

    
    
k_bowl['inning_oppo'] = k_bowl.apply(ioppo, axis =1)
k_bowl

,innings_bowled_flag,innings_maidens_bowled,innings_runs_conceded,innings_wickets_taken,4_wickets,5_wickets,10_wickets,innings_economy_rate,overs,overs_consistency,...,overs_venue,bowling_average,bowling_strike_rate,4_wickets_consistency,5_wickets_consistency,5_wickets_form_venue,4_wickets_form_venue,inning_consistency,inning_form,inning_oppo
innings_player,,,,,,,,,,,,,,,,,,,,,
A Balbirnie,9.0,0.0,204.0,6.0,201.0,0.0,0.0,71.85,90.0,1.0,...,5.0,4.0,1.0,5,NaN,NaN,5,1.0,2.0,4.0
A Bhandari,4.0,0.0,168.0,11.0,4.0,0.0,0.0,19.62,40.0,1.0,...,5.0,5.0,5.0,4,NaN,NaN,5,1.0,1.0,2.0
A Dananjaya,102.0,15.0,4518.0,153.0,101.0,6.0,0.0,528.66,1020.0,5.0,...,5.0,4.0,4.0,5,5.0,5.0,5,3.0,5.0,5.0
A Flintoff,330.0,198.0,11408.0,490.0,368.0,6.0,0.0,1430.92,3300.0,5.0,...,5.0,5.0,3.0,5,5.0,5.0,5,5.0,5.0,5.0
A Flower,2.0,0.0,23.0,0.0,326.0,0.0,0.0,12.50,20.0,1.0,...,3.0,5.0,1.0,5,NaN,NaN,5,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zakiullah Zaki,3.0,0.0,81.0,0.0,3.0,0.0,0.0,20.25,30.0,1.0,...,4.0,1.0,1.0,4,NaN,NaN,5,1.0,1.0,2.0
Ziaur Rahman,33.0,3.0,903.0,30.0,36.0,3.0,0.0,157.65,330.0,3.0,...,5.0,4.0,1.0,5,4.0,5.0,5,1.0,5.0,5.0
Zulfiqar Babar,15.0,3.0,738.0,12.0,15.0,0.0,0.0,74.94,150.0,2.0,...,5.0,1.0,1.0,5,NaN,NaN,5,1.0,5.0,5.0
Zulqarnain,0.0,0.0,0.0,0.0,16.0,0.0,0.0,0.00,0.0,NaN,...,NaN,NaN,NaN,5,NaN,NaN,5,NaN,NaN,NaN
Zulqarnain Haider,0.0,0.0,0.0,0.0,12.0,0.0,0.0,0.00,0.0,NaN,...,NaN,NaN,NaN,5,NaN,NaN,5,NaN,NaN,NaN

In [77]:
def iven(k_bowl):
    if (k_bowl['innings_bowled_flag']==1):
        return 1
    elif(k_bowl['innings_bowled_flag']==2):
        return 2
    elif( k_bowl['innings_bowled_flag']==3):
        return 3
    elif(k_bowl['innings_bowled_flag']==4):
        return 4
    elif(k_bowl['innings_bowled_flag']>=5):
        return 5

    
    
k_bowl['inning_venue'] = k_bowl.apply(iven, axis =1)
k_bowl

,innings_bowled_flag,innings_maidens_bowled,innings_runs_conceded,innings_wickets_taken,4_wickets,5_wickets,10_wickets,innings_economy_rate,overs,overs_consistency,...,bowling_average,bowling_strike_rate,4_wickets_consistency,5_wickets_consistency,5_wickets_form_venue,4_wickets_form_venue,inning_consistency,inning_form,inning_oppo,inning_venue
innings_player,,,,,,,,,,,,,,,,,,,,,
A Balbirnie,9.0,0.0,204.0,6.0,201.0,0.0,0.0,71.85,90.0,1.0,...,4.0,1.0,5,NaN,NaN,5,1.0,2.0,4.0,5.0
A Bhandari,4.0,0.0,168.0,11.0,4.0,0.0,0.0,19.62,40.0,1.0,...,5.0,5.0,4,NaN,NaN,5,1.0,1.0,2.0,4.0
A Dananjaya,102.0,15.0,4518.0,153.0,101.0,6.0,0.0,528.66,1020.0,5.0,...,4.0,4.0,5,5.0,5.0,5,3.0,5.0,5.0,5.0
A Flintoff,330.0,198.0,11408.0,490.0,368.0,6.0,0.0,1430.92,3300.0,5.0,...,5.0,3.0,5,5.0,5.0,5,5.0,5.0,5.0,5.0
A Flower,2.0,0.0,23.0,0.0,326.0,0.0,0.0,12.50,20.0,1.0,...,5.0,1.0,5,NaN,NaN,5,1.0,1.0,1.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zakiullah Zaki,3.0,0.0,81.0,0.0,3.0,0.0,0.0,20.25,30.0,1.0,...,1.0,1.0,4,NaN,NaN,5,1.0,1.0,2.0,3.0
Ziaur Rahman,33.0,3.0,903.0,30.0,36.0,3.0,0.0,157.65,330.0,3.0,...,4.0,1.0,5,4.0,5.0,5,1.0,5.0,5.0,5.0
Zulfiqar Babar,15.0,3.0,738.0,12.0,15.0,0.0,0.0,74.94,150.0,2.0,...,1.0,1.0,5,NaN,NaN,5,1.0,5.0,5.0,5.0
Zulqarnain,0.0,0.0,0.0,0.0,16.0,0.0,0.0,0.00,0.0,NaN,...,NaN,NaN,5,NaN,NaN,5,NaN,NaN,NaN,NaN
Zulqarnain Haider,0.0,0.0,0.0,0.0,12.0,0.0,0.0,0.00,0.0,NaN,...,NaN,NaN,5,NaN,NaN,5,NaN,NaN,NaN,NaN

In [78]:
k_bowl.drop(['innings_maidens_bowled','innings_economy_rate'],axis=1,inplace = True)

In [79]:
k_bowl['consistency'] =  0.4174*k_bowl['overs_consistency'] + 0.2634*k_bowl['inning_consistency'] + 0.1602*k_bowl['bowling_strike_rate'] + 0.0975*k_bowl['bowling_average']+0.0615*k_bowl['4_wickets_consistency']

In [80]:
k_bowl.columns

Index(['innings_bowled_flag', 'innings_runs_conceded', 'innings_wickets_taken',
       '4_wickets', '5_wickets', '10_wickets', 'overs', 'overs_consistency',
       'overs_form_oppo', 'overs_venue', 'bowling_average',
       'bowling_strike_rate', '4_wickets_consistency', '5_wickets_consistency',
       '5_wickets_form_venue', '4_wickets_form_venue', 'inning_consistency',
       'inning_form', 'inning_oppo', 'inning_venue', 'consistency'],
      dtype='object')

In [81]:
k_bowl['form'] =  0.3269*k_bowl['overs_form_oppo'] + 0.2846*k_bowl['inning_form'] + 0.1877*k_bowl['bowling_strike_rate'] + 0.1210*k_bowl['bowling_average'] + 0.0798*k_bowl['4_wickets_form_venue']

In [82]:
k_bowl['opposition'] =  0.3177*k_bowl['overs_form_oppo'] + 0.3177*k_bowl['inning_oppo'] + 0.1933*k_bowl['bowling_strike_rate'] + 0.1465*k_bowl['bowling_average']+0.0943*k_bowl['4_wickets_form_venue']

In [83]:

k_bowl['venue'] =0.2783*k_bowl['inning_venue']+ 0.1836*k_bowl['bowling_strike_rate'] + 0.1391*k_bowl['bowling_average']+0.0972*k_bowl['4_wickets_form_venue']

In [84]:
def wkt(k_bowl):
     if (0<=k_bowl['innings_bowled_flag']<=1):
        return 1
     elif(2<=k_bowl['innings_bowled_flag']<=3):
        return 2
     elif(k_bowl['innings_bowled_flag']>=4):
        return 3
    

    
    
k_bowl['innings_wickets_taken'] = k_bowl.apply(wkt, axis =1)
k_bowl

,innings_bowled_flag,innings_runs_conceded,innings_wickets_taken,4_wickets,5_wickets,10_wickets,overs,overs_consistency,overs_form_oppo,overs_venue,...,5_wickets_form_venue,4_wickets_form_venue,inning_consistency,inning_form,inning_oppo,inning_venue,consistency,form,opposition,venue
innings_player,,,,,,,,,,,,,,,,,,,,,
A Balbirnie,9.0,204.0,3,201.0,0.0,0.0,90.0,1.0,4.0,5.0,...,NaN,5,1.0,2.0,4.0,5.0,1.5385,2.9475,3.7924,2.6175
A Bhandari,4.0,168.0,3,4.0,0.0,0.0,40.0,1.0,3.0,5.0,...,NaN,5,1.0,1.0,2.0,4.0,2.2153,3.2078,3.7590,3.2127
A Dananjaya,102.0,4518.0,3,101.0,6.0,0.0,1020.0,5.0,5.0,5.0,...,5.0,5,3.0,5.0,5.0,5.0,4.2155,4.6913,5.0077,3.1683
A Flintoff,330.0,11408.0,3,368.0,6.0,0.0,3300.0,5.0,5.0,5.0,...,5.0,5,5.0,5.0,5.0,5.0,4.6796,4.6246,4.9609,3.1238
A Flower,2.0,23.0,2,326.0,0.0,0.0,20.0,1.0,2.0,3.0,...,NaN,5,1.0,1.0,1.0,2.0,1.6360,2.1301,2.3504,1.9217
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zakiullah Zaki,3.0,81.0,2,3.0,0.0,0.0,30.0,1.0,3.0,4.0,...,NaN,5,1.0,1.0,2.0,3.0,1.1845,1.9730,2.3998,1.6436
Ziaur Rahman,33.0,903.0,3,36.0,3.0,0.0,330.0,3.0,5.0,5.0,...,5.0,5,1.0,5.0,5.0,5.0,2.3733,4.1282,4.4278,2.6175
Zulfiqar Babar,15.0,738.0,3,15.0,0.0,0.0,150.0,2.0,5.0,5.0,...,NaN,5,1.0,5.0,5.0,5.0,1.6634,3.7652,3.9883,2.2002
Zulqarnain,0.0,0.0,1,16.0,0.0,0.0,0.0,NaN,NaN,NaN,...,NaN,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zulqarnain Haider,0.0,0.0,1,12.0,0.0,0.0,0.0,NaN,NaN,NaN,...,NaN,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [85]:
k_bowl_y = k_bowl['innings_wickets_taken']

In [86]:
k_bowl_y

innings_player
A Balbirnie          3
A Bhandari           3
A Dananjaya          3
A Flintoff           3
A Flower             2
                    ..
Zakiullah Zaki       2
Ziaur Rahman         3
Zulfiqar Babar       3
Zulqarnain           1
Zulqarnain Haider    1
Name: innings_wickets_taken, Length: 2291, dtype: int64

In [87]:
k_bowl.drop('innings_wickets_taken',axis = 1, inplace =True)

In [88]:
k_bowl.isna().sum()

innings_bowled_flag         0
innings_runs_conceded       0
4_wickets                   0
5_wickets                   0
10_wickets                  0
overs                       0
overs_consistency         605
overs_form_oppo           605
overs_venue               605
bowling_average           611
bowling_strike_rate       605
4_wickets_consistency       0
5_wickets_consistency    2009
5_wickets_form_venue     2009
4_wickets_form_venue        0
inning_consistency        605
inning_form               605
inning_oppo               605
inning_venue              605
consistency               611
form                      611
opposition                611
venue                     611
dtype: int64

In [89]:
k_bowl.drop(['5_wickets_consistency','5_wickets_form_venue'],axis = 1, inplace =True)

In [90]:
k_bowl['consistency'] = k_bowl.consistency.fillna(0)
k_bowl['form'] = k_bowl.form.fillna(0)
k_bowl['opposition'] = k_bowl.opposition.fillna(0)
k_bowl['venue'] = k_bowl.venue.fillna(0)

In [91]:
k_bowl.isna().sum()

innings_bowled_flag        0
innings_runs_conceded      0
4_wickets                  0
5_wickets                  0
10_wickets                 0
overs                      0
overs_consistency        605
overs_form_oppo          605
overs_venue              605
bowling_average          611
bowling_strike_rate      605
4_wickets_consistency      0
4_wickets_form_venue       0
inning_consistency       605
inning_form              605
inning_oppo              605
inning_venue             605
consistency                0
form                       0
opposition                 0
venue                      0
dtype: int64

In [92]:
k_bowl.columns

Index(['innings_bowled_flag', 'innings_runs_conceded', '4_wickets',
       '5_wickets', '10_wickets', 'overs', 'overs_consistency',
       'overs_form_oppo', 'overs_venue', 'bowling_average',
       'bowling_strike_rate', '4_wickets_consistency', '4_wickets_form_venue',
       'inning_consistency', 'inning_form', 'inning_oppo', 'inning_venue',
       'consistency', 'form', 'opposition', 'venue'],
      dtype='object')

In [93]:
k_bowl.drop(['overs_consistency','overs_form_oppo', 'overs_venue', 'bowling_average',
       'bowling_strike_rate', '4_wickets_consistency', '4_wickets_form_venue',
       'inning_consistency', 'inning_form', 'inning_oppo', 'inning_venue'],axis = 1,inplace = True)

In [94]:
k_bowl

,innings_bowled_flag,innings_runs_conceded,4_wickets,5_wickets,10_wickets,overs,consistency,form,opposition,venue
innings_player,,,,,,,,,,
A Balbirnie,9.0,204.0,201.0,0.0,0.0,90.0,1.5385,2.9475,3.7924,2.6175
A Bhandari,4.0,168.0,4.0,0.0,0.0,40.0,2.2153,3.2078,3.7590,3.2127
A Dananjaya,102.0,4518.0,101.0,6.0,0.0,1020.0,4.2155,4.6913,5.0077,3.1683
A Flintoff,330.0,11408.0,368.0,6.0,0.0,3300.0,4.6796,4.6246,4.9609,3.1238
A Flower,2.0,23.0,326.0,0.0,0.0,20.0,1.6360,2.1301,2.3504,1.9217
...,...,...,...,...,...,...,...,...,...,...
Zakiullah Zaki,3.0,81.0,3.0,0.0,0.0,30.0,1.1845,1.9730,2.3998,1.6436
Ziaur Rahman,33.0,903.0,36.0,3.0,0.0,330.0,2.3733,4.1282,4.4278,2.6175
Zulfiqar Babar,15.0,738.0,15.0,0.0,0.0,150.0,1.6634,3.7652,3.9883,2.2002
Zulqarnain,0.0,0.0,16.0,0.0,0.0,0.0,0.0000,0.0000,0.0000,0.0000
Zulqarnain Haider,0.0,0.0,12.0,0.0,0.0,0.0,0.0000,0.0000,0.0000,0.0000

In [95]:
from sklearn.model_selection import train_test_split
X_train_bowl, X_test_bowl, y_train_bowl, y_test_bowl = train_test_split(k_bowl,k_bowl_y, test_size = 0.5, random_state = 0)

In [96]:
# Training the Random Forest Classification model on the Training set
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier(n_estimators = 1, criterion = 'entropy', random_state = 0)
classifier.fit(X_train_bowl, y_train_bowl)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='entropy', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=1,
                       n_jobs=None, oob_score=False, random_state=0, verbose=0,
                       warm_start=False)

In [97]:
y_pred = classifier.predict(X_test_bowl)

In [98]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test_bowl, y_pred)
print(cm)

[[338   0   1]
 [  0 103   2]
 [  0   3 699]]

In [99]:
from sklearn.metrics import accuracy_score
print('random forest accuraccy:',accuracy_score(y_test_bowl,y_pred))

random forest accuraccy: 0.9947643979057592

In [100]:
#Import Gaussian Naive Bayes model
from sklearn.naive_bayes import GaussianNB

#Create a Gaussian Classifier
model = GaussianNB()

# Train the model using the training sets
model.fit(X_train_bowl,y_train_bowl)

GaussianNB(priors=None, var_smoothing=1e-09)

In [101]:
predicted= model.predict(X_test_bowl)

In [102]:
from sklearn.metrics import accuracy_score
print('naive bayes accuracy:',accuracy_score(y_test_bowl,predicted))

naive bayes accuracy: 0.9389179755671903

In [103]:
from sklearn.tree import DecisionTreeClassifier
clf = DecisionTreeClassifier(criterion="entropy", max_depth=1)

# Train Decision Tree Classifer
clf = clf.fit(X_train_bowl,y_train_bowl)

#Predict the response for test dataset
y_pred2 = clf.predict(X_test_bowl)

# Model Accuracy, how often is the classifier correct?
print(" tree Accuracy:",accuracy_score(y_test_bowl, y_pred2))

 tree Accuracy: 0.9083769633507853

In [104]:
#Import svm model
from sklearn import svm

#Create a svm Classifier
clf = svm.SVC(kernel='rbf') # Linear Kernel

#Train the model using the training sets
clf.fit(X_train_bowl, y_train_bowl)

#Predict the response for test dataset
y_pred6 = clf.predict(X_test_bowl)

#Import scikit-learn metrics module for accuracy calculation
from sklearn import metrics

# Model Accuracy: how often is the classifier correct?
print(" svm Accuracy:",metrics.accuracy_score(y_test_bowl, y_pred6))

 svm Accuracy: 0.8455497382198953

random forest accuracy: 0.9947643979057592
naive bayes accuracy: 0.9389179755671903                 (BOWLING RESULTS)
svm Accuracy: 0.8455497382198953
decision tree Accuracy: 0.9083769633507853


well as i wasn't able to get all the data required in such short time ,to define all attributes i am getting a lot different result from what was expected.
still result seems fine based on this data.